deployment/base/scripts/init_data/metadata_profile_schemas/Polls_default_schema.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="metadata">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element id="md_6ACA14B3-112B-DF95-1977-8131461A088A" name="Answer" minOccurs="1" maxOccurs="unbounded" type="textType">
                    <xsd:annotation>
                        <xsd:documentation />
                        <xsd:appinfo>
                            <label>Answer</label>
                            <key>Answer</key>
                            <searchable>true</searchable>
                            <timeControl>false</timeControl>
                            <description />
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element id="md_BB0456FB-7548-3428-D937-AD8F9CB9A32G" name="UserId" minOccurs="1" maxOccurs="1" type="textType">
                    <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:appinfo>
                            <label>UserId</label>
                            <key>UserId</key>
                            <searchable>true</searchable>
                            <timeControl>false</timeControl>
                            <description>Holds the ID of the voting user</description>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="textType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string" />
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="dateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:long" />
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="objectType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string" />
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="listType">
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
</xsd:schema>