deployment/base/scripts/init_data/metadata_profile_schemas/QandA_default_schema.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element id="md_600F99B0-148F-3627-F774-AD8A023979C1" name="Assignees" minOccurs="0" maxOccurs="unbounded" type="userType">
					<xsd:annotation>
						<xsd:documentation/>
						<xsd:appinfo>
							<label>Assignees</label>
							<key>Assignees</key>
							<searchable>true</searchable>
							<timeControl>false</timeControl>
							<description>List of assignees allowed to view the question</description>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element id="md_A994076F-8F38-A5AE-53DC-AD8E524815B0" name="State" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation/>
						<xsd:appinfo>
							<label>State</label>
							<key>State</key>
							<searchable>true</searchable>
							<timeControl>false</timeControl>
							<description>Hold the applicative cue point state</description>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="listType">
							<xsd:enumeration value="Pending"/>
							<xsd:enumeration value="Assigned"/>
							<xsd:enumeration value="Answered"/>
							<xsd:enumeration value="Follow Up"/>
							<xsd:enumeration value="Done"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element id="md_BB0456FB-7598-3428-D937-AD8F9CB9A32B" name="ThreadId" minOccurs="0" maxOccurs="1" type="textType">
					<xsd:annotation>
						<xsd:documentation/>
						<xsd:appinfo>
							<label>threadId</label>
							<key>threadId</key>
							<searchable>true</searchable>
							<timeControl>false</timeControl>
							<description>Holds the root parent Cue Point ID</description>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="userType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="textType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="dateType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:long"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="objectType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="listType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</xsd:schema>