tags/svn+ssh:/kelev.kaltura.com/usr/local/kalsource/backend/server/tags/falcon_2012_08_20/tests/unitTests/xsd/xsd/test1/6.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="metadata">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element id="md_5791B9DB-169B-E8E1-514E-D59D947712D5" name="Title" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Title</label>
              <key>Title</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_C81025CB-5AAE-14CD-9D89-BB5D41CC0525" name="Caption" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Caption</label>
              <key>Caption</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_5017C6D7-26FF-4358-AE2E-BB599C6FD9C4" name="FormatType" minOccurs="0" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Format Type</label>
              <key>Format Type</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="listType">
              <xsd:enumeration value="Short Form"/>
              <xsd:enumeration value="Long Form"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="md_65860D1C-8C33-46B3-5A68-BB63D3D51A23" name="SourceType" minOccurs="0" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Source Type</label>
              <key>Source Type</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="listType">
              <xsd:enumeration value="FHA"/>
              <xsd:enumeration value="SD"/>
              <xsd:enumeration value="HD"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="md_C26D854C-586F-B5C7-B27E-BB5AB955199B" name="SourceVideoFile" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Source Video File</label>
              <key>Source Video File</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_BF9BC617-AA9C-C33B-5E39-BB5E3944633C" name="ImageAltText" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Image Alt Text</label>
              <key>Image Alt Text</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_086B3AC9-A04D-BEFD-BFEA-BB5F32A2DE27" name="RelatedStoryTitle" minOccurs="0" maxOccurs="unbounded" type="textType">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Related Story Title</label>
              <key>Related Story Title</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_0B587747-16BE-8C0B-1FDA-BB60B20448AD" name="RelatedStoryURL" minOccurs="0" maxOccurs="unbounded" type="textType">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Related Story URL</label>
              <key>Related Story URL</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_B2CE09F7-1B8D-BA75-80DD-BB6101FCAA39" name="RelatedVideos" minOccurs="0" maxOccurs="unbounded" type="objectType">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Related Videos</label>
              <key>Related Videos</key>
              <searchable>false</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_9230F702-8C41-BB8F-2158-BB624D14D903" name="Author" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Author</label>
              <key>Author</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_99FC07B6-3B78-9394-ED4E-BB621862A7EA" name="Copyright" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Copyright</label>
              <key>Copyright</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_74BB273B-10C9-E9D6-9702-BB6331245E38" name="AdFlag" minOccurs="0" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Ad Flag</label>
              <key>Ad Flag</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="listType">
              <xsd:enumeration value="True"/>
              <xsd:enumeration value="False"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="md_B4A84FD6-0A90-A349-A3A7-BB64E2DEBF96" name="IsPremium" minOccurs="0" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Is Premium?</label>
              <key>Is Premium?</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="listType">
              <xsd:enumeration value="False"/>
              <xsd:enumeration value="True"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="md_7AA02103-C9A7-75AC-B8A6-BB67AB2693ED" name="UseEmbed" minOccurs="0" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Use Embed?</label>
              <key>Use Embed?</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="listType">
              <xsd:enumeration value="True"/>
              <xsd:enumeration value="False"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="md_753AA589-5A68-FD4A-1AFE-BB6C52B53AB0" name="AssignmentChecklist" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Assignment Checklist</label>
              <key>Assignment Checklist</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="listType">
              <xsd:enumeration value="Sections"/>
              <xsd:enumeration value="Player Nodes"/>
              <xsd:enumeration value="Ad Tags"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="md_B6C3B410-5141-C357-DF45-BB6E6919E339" name="ConEdSyncStatus" minOccurs="0" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>ConEd Sync Status</label>
              <key>ConEd Sync Status</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="listType">
              <xsd:enumeration value="Auto sync"/>
              <xsd:enumeration value="Sync done"/>
              <xsd:enumeration value="Manual sync"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="md_6B95A310-D168-97FD-E183-BBE47ED09BB1" name="Environment" minOccurs="0" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <label>Environment</label>
              <key>Environment</key>
              <searchable>true</searchable>
              <description/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="listType">
              <xsd:enumeration value="Production"/>
              <xsd:enumeration value="QA"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="md_061E994C-EAD5-3DF4-64DE-4E5517A525BF" name="Omniturech" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>Omniture_ch</xsd:documentation>
            <xsd:appinfo>
              <label>Omniture_ch</label>
              <key>Omniture_ch</key>
              <searchable>true</searchable>
              <description>Omniture_ch</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_3406CD4D-61DF-A91B-D9A6-4E555E862352" name="Omniturec3" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>Omniture_c3</xsd:documentation>
            <xsd:appinfo>
              <label>Omniture_c3</label>
              <key>Omniture_c3</key>
              <searchable>true</searchable>
              <description>Omniture_c3</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_10DA6AE0-ADD1-747D-773A-4E559E5F7A51" name="Omniturev2" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>Omniture_v2</xsd:documentation>
            <xsd:appinfo>
              <label>Omniture_v2</label>
              <key>Omniture_v2</key>
              <searchable>true</searchable>
              <description>Omniture_v2</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_50371068-4B63-9330-99BE-4E55D52F1108" name="Omniturec25" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>Omniture_c25</xsd:documentation>
            <xsd:appinfo>
              <label>Omniture_c25</label>
              <key>Omniture_c25</key>
              <searchable>true</searchable>
              <description>Omniture_c25</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_90B90ACA-A759-1F9A-620A-4E5617261930" name="Omniturev12" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>Omniture_v12</xsd:documentation>
            <xsd:appinfo>
              <label>Omniture_v12</label>
              <key>Omniture_v12</key>
              <searchable>true</searchable>
              <description>Omniture_v12</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_666F226D-EAD4-795C-EE44-4E564316DB63" name="Comscorec6" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>Comscore_c6</xsd:documentation>
            <xsd:appinfo>
              <label>Comscore_c6</label>
              <key>Comscore_c6</key>
              <searchable>true</searchable>
              <description>Comscore_c6</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_685EC521-EB5C-56B3-E32B-4E566ABF8716" name="FreewheelvideoAssetId" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>FW_videoAssetId</xsd:documentation>
            <xsd:appinfo>
              <label>Freewheel_videoAssetId</label>
              <key>FW_videoAssetId</key>
              <searchable>true</searchable>
              <description>FW_videoAssetId</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_2E1C7680-6863-47F0-75E9-4E570258BA7C" name="FWvideoAssetFallbackId" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>FW_videoAssetFallbackId</xsd:documentation>
            <xsd:appinfo>
              <label>FW_videoAssetFallbackId</label>
              <key>FW_videoAssetFallbackId</key>
              <searchable>true</searchable>
              <description>FW_videoAssetFallbackId</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_FD78D3C6-992C-79BC-5EA4-4E57728EAC6B" name="FWsiteSectionId" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>FW_siteSectionId</xsd:documentation>
            <xsd:appinfo>
              <label>FW_siteSectionId</label>
              <key>FW_siteSectionId</key>
              <searchable>true</searchable>
              <description>FW_siteSectionId</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_DE009452-5C38-EB6E-356A-4E57A04EAA3D" name="FWsiteSectionFallbackId" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>FW_siteSectionFallbackId</xsd:documentation>
            <xsd:appinfo>
              <label>FW_siteSectionFallbackId</label>
              <key>FW_siteSectionFallbackId</key>
              <searchable>true</searchable>
              <description>FW_siteSectionFallbackId</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_1A23941F-8EA0-50EF-B2A3-4E57C77F7AAF" name="FWkeyValues" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>FW_keyValues_Show</xsd:documentation>
            <xsd:appinfo>
              <label>FW_keyValues</label>
              <key>FW_keyValues_Show</key>
              <searchable>true</searchable>
              <description>FW_keyValues_Show</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_89FF744B-FBC8-E0FE-1151-5939ECD55E2A" name="Omniture" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation></xsd:documentation>
            <xsd:appinfo>
              <label>Omniture</label>
              <key>Omniture</key>
              <searchable>true</searchable>
              <description></description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_EF0962BE-BA19-18DE-A66C-593E48A9710C" name="Omniturec18" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>Omniture prop18</xsd:documentation>
            <xsd:appinfo>
              <label>Omniture_c18</label>
              <key>Omniture_c18</key>
              <searchable>true</searchable>
              <description>Omniture prop18</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_C7BF3EAA-80ED-A4D3-BCAA-593FEAC35243" name="Omniturec16" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>Omniture prop16</xsd:documentation>
            <xsd:appinfo>
              <label>Omniture_c16</label>
              <key>Omniture_c16</key>
              <searchable>true</searchable>
              <description>Omniture prop16</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element id="md_ACF80438-2383-1135-082C-5940923434C2" name="Omniturev15" minOccurs="0" maxOccurs="1" type="textType">
          <xsd:annotation>
            <xsd:documentation>Omniture eVar15</xsd:documentation>
            <xsd:appinfo>
              <label>Omniture_v15</label>
              <key>Omniture_v15</key>
              <searchable>true</searchable>
              <description>Omniture eVar15</description>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="textType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="dateType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:long"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="objectType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="listType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
</xsd:schema>