plugins/bulk_upload/xml/xml/bulkUploadResult.xsd.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="T_mrss">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" ref="channel">
				<xs:annotation>
					<xs:documentation>holding multiple item elements</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="mrss-extension"/>
			
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Indicates the XSD version to be used
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_channel">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" ref="item">
				<xs:annotation>
					<xs:documentation>holding entry element</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="channel-extension"/>
			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_item">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" ref="result">
				<xs:annotation>
					<xs:documentation>Action results</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="action">
				<xs:annotation>
					<xs:documentation>Entry action that applied on the entry element</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="add"/>
						<xs:enumeration value="update"/>
						<xs:enumeration value="delete"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="entryId" nillable="false">
				<xs:annotation>
					<xs:documentation>ID of entry that the action appled on</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="referenceID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Partner external reference string</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="createdAt" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry creation date as Unix timestamp (In seconds)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="updatedAt" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry last update date as Unix timestamp (In seconds)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="title">
				<xs:annotation>
					<xs:documentation>Entry name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="type" type="KalturaEntryType">
				<xs:annotation>
					<xs:documentation>Entry type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="licenseType" type="KalturaLicenseType">
				<xs:annotation>
					<xs:documentation>Entry license type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="userId" type="xs:string">
				<xs:annotation>
					<xs:documentation>The ID of the user who is the owner of this entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="name">
				<xs:annotation>
					<xs:documentation>Entry name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="status" type="KalturaEntryStatus">
				<xs:annotation>
					<xs:documentation>Entry current status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Entry free text description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="thumbnailUrl">
				<xs:annotation>
					<xs:documentation>Download URL of the entry thumbnail</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="url" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" ref="tags">
				<xs:annotation>
					<xs:documentation>Entry searchable keywords</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="category">
				<xs:annotation>
					<xs:documentation>Entry assigned category</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="partnerData" type="xs:string">
				<xs:annotation>
					<xs:documentation>Used to store various partner related data as a string</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="partnerSortData" type="xs:int">
				<xs:annotation>
					<xs:documentation>Used to store various partner related data as a numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="accessControlId" type="xs:int">
				<xs:annotation>
					<xs:documentation>The id of the access control profile that assigned to this entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="conversionProfileId" type="xs:int">
				<xs:annotation>
					<xs:documentation>The ingestion profile that used to ingest this entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="startDate" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry scheduling start date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="endDate" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry scheduling end date.<br/>If not specified the entry will be available forever</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="templateEntryId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Template entry ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="templateEntry" type="xs:string">
				<xs:annotation>
					<xs:documentation>Template entry reference ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice maxOccurs="1" minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" ref="media">
					<xs:annotation>
						<xs:documentation>Media related information, such as media type</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!-- Not yet supported <xs:element ref="mix" minOccurs="1" maxOccurs="1"/> 
					<xs:element ref="playlist" minOccurs="1" maxOccurs="1"/> <xs:element ref="data" 
					minOccurs="1" maxOccurs="1"/> <xs:element ref="liveStream" minOccurs="1" 
					maxOccurs="1"/> -->
			</xs:choice>
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" ref="content">
					<xs:annotation>
						<xs:documentation>Flavor asset information</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="thumbnail">
					<xs:annotation>
						<xs:documentation>Thumbnail asset information</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="item-extension"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_tags">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="tag" type="xs:string">
				<xs:annotation>
					<xs:documentation>Free text keyword</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_result">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="errorDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ingestion error description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_category">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Category name</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="T_media">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="mediaType" type="KalturaMediaType">
				<xs:annotation>
					<xs:documentation>Entry media type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="duration" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry media (video/audio) duration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="flavorParamsIds" type="xs:string">
				<xs:annotation>
					<xs:documentation>Flavor params ids that have compatible ready flavor asset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="media-extension"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_thumbnail">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" ref="tags">
				<xs:annotation>
					<xs:documentation>Entry searchable keywords</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="thumbnail-extension"/>
		</xs:sequence>
		<xs:attribute name="url" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Download URL</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="thumbAssetId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Thumbnail asset id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="format" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Format of the thumbnail asset file</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isDefault" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Is the entry default thumbnail</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Thumbnail height</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Thumbnail width</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="thumbParamsId" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>ID of thumbnail params that associated with the thumbnail</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_content">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" ref="tags">
				<xs:annotation>
					<xs:documentation>Specifies specific tags you want to set for the flavor asset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="content-extension"/>
		</xs:sequence>
		<xs:attribute name="url" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Download URL</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="flavorAssetId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>ID of the flavor asset</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="containerFormat" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Format of the asset file</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="format" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Configured format of the flavor</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="extension" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Flavor asset file extension</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isSource" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Is the source flavor asset</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor height</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor width</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="videoBitrate" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor asset video bitrate</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="videoCodec" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor asset video codec</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="audioBitrate" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor asset audio bitrate</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="audioCodec" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor asset audio codec</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="frameRate" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor asset frame rate</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="flavorParamsId" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>ID of accosiated flavor params</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="flavorParamsName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>System name of accosiated flavor params</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assetId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The asset id to be updated with this resource
					userd only for update
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:element name="mrss" type="T_mrss">
		<xs:annotation>
			<xs:documentation>Wrapper element holding XML structure</xs:documentation>
			<xs:appinfo>
				<example>
					<mrss version="2.0">
						<channel>
							<items>
								<item>...</item>
								<item>...</item>
								<item>...</item>
							</items>
						</channel>
					</mrss>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="channel" type="T_channel">
		<xs:annotation>
			<xs:documentation>Wrapper element holding multiple item elements</xs:documentation>
			<xs:appinfo>
				<example>
					<mrss version="2.0">
						<channel>
							<items>
								<item>...</item>
								<item>...</item>
								<item>...</item>
							</items>
						</channel>
					</mrss>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="item" type="T_item">
		<xs:annotation>
			<xs:documentation>Single entry wrapper element</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<result>
							<errorDescription>...</errorDescription>
						</result>
						<action>add</action>
						<entryId>{entry id}</entryId>
						<createdAt>1311878948</createdAt>
						<updatedAt>1311879522</updatedAt>
						<title>my entry name</title>
						<link>http://my.feed.url?entry_id={entry id}</link>
						<type>1</type>
						<licenseType>-1</licenseType>
						<userId>my.example.user</userId>
						<name>my entry name</name>
						<status>2</status>
						<description>my entry free text description</description>
						<thumbnailUrl url="http://kaltura.domain/thumbnail/path/to/file.jpg"/>
						<tags>
							<tag>example</tag>
							<tag>my_tag</tag>
						</tags>
						<category name="example1">examples&gt;example1</category>
						<category name="example2">examples&gt;example2</category>
						<partnerData>my advanced data</partnerData>
						<accessControlId>{access control id}</accessControlId>
						<conversionProfileId>{conversion profile id}</conversionProfileId>
						<media>
							<mediaType>1</mediaType>
							<duration>34951</duration>
							<flavorParamsIds>0,3</flavorParamsIds>
						</media>
						<thumbnail url="http://kaltura.domain/thumbnail/path/to/thumbnail1.jpg">...</thumbnail>
						<thumbnail url="http://kaltura.domain/thumbnail/path/to/thumbnail2.jpg">...</thumbnail>
						<content url="http://kaltura.domain/flavor/path/to/flavor1.flv">...</content>
						<content url="http://kaltura.domain/flavor/path/to/flavor2.flv">...</content>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="result" type="T_result">
		<xs:annotation>
			<xs:documentation>Entry action result element</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<result>
							<errorDescription>...</errorDescription>
						</result>
						<action>add</action>
						<entryId>{entry id}</entryId>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="tags" type="T_tags">
		<xs:annotation>
			<xs:documentation>Free text tags</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="category" type="T_category">
		<xs:annotation>
			<xs:documentation>Category assignments for entries</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="media" type="T_media">
		<xs:annotation>
			<xs:documentation>Media related information, such as media type</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<result>
							<errorDescription>...</errorDescription>
						</result>
						<action>add</action>
						<entryId>{entry id}</entryId>
						<media>
							<mediaType>1</mediaType>
							<duration>34951</duration>
							<flavorParamsIds>0,3</flavorParamsIds>
						</media>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="content" type="T_content">
		<xs:annotation>
			<xs:documentation>Flavor asset element</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<result>
							<errorDescription>...</errorDescription>
						</result>
						<action>add</action>
						<entryId>{entry id}</entryId>
						<media>...</media>
						<content assetId="{flavor asset id}" audioBitrate="0" audioCodec="" containerFormat="flash video" extension="flv" flavorParamsId="0" flavorParamsName="Source" format="" frameRate="0" height="0" isSource="true" url="http://kaltura.domain/path/my_flavor_asset.flv" videoBitrate="0" videoCodec="" width="0">
						&gt;
							<tags>
								<tag>example</tag>
								<tag>my_tag</tag>
							</tags>
						</content>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="thumbnail" type="T_thumbnail">
		<xs:annotation>
			<xs:documentation>Thumbnail asset element</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<result>
							<errorDescription>...</errorDescription>
						</result>
						<action>add</action>
						<entryId>{entry id}</entryId>
						<media>...</media>
						<thumbnail format="" height="120" isDefault="false" thumbAssetId="{thumb asset id}" url="http://kaltura.domain/path/my_thumbnail_asset.flv" width="120">
							<tags>
								<tag>example</tag>
								<tag>my_tag</tag>
							</tags>
						</thumbnail>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="mrss-extension"/>
	<xs:element name="channel-extension"/>
	<xs:element name="item-extension"/>
	<xs:element name="media-extension"/>
	<xs:element name="content-extension"/>
	<xs:element name="thumbnail-extension"/>
	<xs:element name="player-extension"/>
</xs:schema>
