plugins/bulk_upload/xml/xml/ingestion.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

	<xs:complexType name="T_mrss">
		<xs:sequence>
		
			<xs:element maxOccurs="1" minOccurs="0" name="ks" type="xs:string">
				<xs:annotation>
					<xs:documentation>KS of the user ingesting the content</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element maxOccurs="unbounded" minOccurs="1" ref="channel">
				<xs:annotation>
					<xs:documentation>A single entry wrapper element</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element maxOccurs="unbounded" minOccurs="0" ref="mrss-extension"/>

		</xs:sequence>
		<xs:attribute name="version" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>
					The XSD version to be used
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="T_channel">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" ref="item">
				<xs:annotation>
					<xs:documentation>holding entry element</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element maxOccurs="unbounded" minOccurs="0" ref="channel-extension"/>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_item">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="action">
				<xs:annotation>
					<xs:documentation>
						The action to apply from the item element:<br/>
						Add - Add a new entry<br/>
						Update - Update an existing entry<br/>
						Delete - Delete an existing entry
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="add"/>
						<xs:enumeration value="update"/>
						<xs:enumeration value="delete"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice maxOccurs="2" minOccurs="1">
				<xs:choice maxOccurs="1" minOccurs="1">
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="type" type="KalturaEntryType">
							<xs:annotation>
								<xs:documentation>
									The type of the new entry.<br/>
									Only the MEDIA_CLIP (= 1) type is supported for XML ingestion.<br/> 
									This option is used only when applying an “Add” Action.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element maxOccurs="1" minOccurs="0" name="licenseType" type="KalturaLicenseType">
							<xs:annotation>
								<xs:documentation>
									The license type of the new entry.<br/>
									This option is used only when applying an “Add” Action.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="entryId">
						<xs:annotation>
							<xs:documentation>
								The identifier of the entry that an update/delete action applies to.<br/>
								This option is used only when applying an “Update” or a “Delete” Action.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:choice>
				<xs:element maxOccurs="1" minOccurs="1" name="referenceId">
					<xs:annotation>
						<xs:documentation>Partner external identifier of the entry</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="parentReferenceId">
					<xs:annotation>
						<xs:documentation>Partner external identifier of the parent entry's reference id'</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:element maxOccurs="1" minOccurs="0" name="userId">
				<xs:annotation>
					<xs:documentation>The user identifier of the content creator/owner</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="name">
				<xs:annotation>
					<xs:documentation>The title of the entry</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Text that describes the entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="keepManualThumbnails" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>flag to keep original thumbnails</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" ref="tags">
				<xs:annotation>
					<xs:documentation>Tags associated with the entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" ref="categories">
				<xs:annotation>
					<xs:documentation>The categories assigned to the entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="partnerData">
				<xs:annotation>
					<xs:documentation>
						Publisher-specific information related to the entry.<br/>
						Usually used for implementing an account-specific integration.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="partnerSortData" type="xs:int">
				<xs:annotation>
					<xs:documentation>
						Partner-specific order used to enable custom ordering and filtering.<br/>
						Usually used to implement an account-specific integration.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice maxOccurs="1" minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" name="accessControlId" type="xs:int">
					<xs:annotation>
						<xs:documentation>The access control profile identifier of the entry. If not specified, the account's default access control profile is used.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" name="accessControl">
					<xs:annotation>
						<xs:documentation>The access control profile system name of the entry. If not specified, the account's default access control profile is used. You can use the Kaltura API to set a specific access control system name.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="120"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:choice maxOccurs="1" minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" name="conversionProfileId" type="xs:int">
					<xs:annotation>
						<xs:documentation>
							The transcoding profile identifier of the entry.<br/>
							If the transcoding profile is not specified, the transcoding profile set to the bulk upload API action is used.<br/>
							If the bulk upload API action's transcoding profile is not specified or is set to (-1), the account's default transcoding profile is used. 
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" name="conversionProfile">
					<xs:annotation>
						<xs:documentation>
							The transcoding profile system name of the entry.<br/>
							If the transcoding profile is not specified, the transcoding profile set to the bulk upload API action is used.<br/>
							If the bulk upload API action's transcoding profile is not specified or is set to (-1), the account's default transcoding profile is used.<br/>
							You can use the Kaltura API to set a specific transcoding profile system name.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="120"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:element maxOccurs="1" minOccurs="0" name="startDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						The scheduled start date for the entry.<br/>
						When the start date is not defined, the entry is available for publishing upon creation.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="endDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						The scheduled end date for the entry.<br/>
						When the end date is not defined, the entry is available for publishing with no end time restriction.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice maxOccurs="1" minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" name="templateEntryId">
					<xs:annotation>
						<xs:documentation>
							Template entry reference ID.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" name="templateEntry">
					<xs:annotation>
						<xs:documentation>
							Template entry reference ID.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>

			<xs:choice maxOccurs="1" minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" ref="media">
					<xs:annotation>
						<xs:documentation>
							Specifies media-related information, such as media type
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!--
				Not supported yet
				<xs:element ref="mix" minOccurs="1" maxOccurs="1" />
				<xs:element ref="playlist" minOccurs="1" maxOccurs="1" />
				<xs:element ref="data" minOccurs="1" maxOccurs="1" />
				<xs:element ref="liveStream" minOccurs="1" maxOccurs="1" />
				-->
			</xs:choice>
			
			<xs:element maxOccurs="1" minOccurs="0" name="msDuration" type="xs:int">
				<xs:annotation>
					<xs:documentation>
						The duration in miliseconds
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" ref="contentAssets">
				<xs:annotation>
					<xs:documentation>
						Specifies media/flavor asset information, such as location of media files to upload, type of ingestion, and related transcoding flavor settings
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" ref="thumbnails">
				<xs:annotation>
					<xs:documentation>
						Specifies thumbnail-related information, such as location of media files and related thumbnail flavor settings
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element maxOccurs="unbounded" minOccurs="0" ref="item-extension"/>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_media">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="mediaType" type="KalturaMediaType">
				<xs:annotation>
					<xs:documentation>
						Specifies the entry media type.<br/>
						Only VIDEO (=1), AUDIO (=5) and IMAGE (=2) are currently supported for XML-based ingestion.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--
			Not supported yet
			<xs:element ref="playlists" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Used to define the playlists of the media, currently not supported</xs:documentation>
				</xs:annotation>
			</xs:element>
			-->

			<xs:element maxOccurs="unbounded" minOccurs="0" ref="media-extension"/>

		</xs:sequence>
	</xs:complexType>

	<!--
	Not supported yet
	<xs:complexType name="T_mix">
		<xs:sequence>
			<xs:element name="editorType" minOccurs="1" maxOccurs="1" type="KalturaEditorType"/>
			<xs:element name="dataContent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The xml data of the mix
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any processContents="skip"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element ref="mix-extension" minOccurs="0" maxOccurs="unbounded" />

		</xs:sequence>
	</xs:complexType>
	-->

	<!--
	 
	Not supported yet

	<xs:complexType name="T_playlist">
		<xs:sequence>
			<xs:element name="playlistType" minOccurs="1" maxOccurs="1" type="KalturaPlaylistType"/>
			<xs:element name="playlistContent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Content of the playlist - 
							- XML if the playlistType is dynamic 
							- Text if the playlistType is static 
							- URL if the playlistType is mRss 
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element ref="playlist-extension" minOccurs="0" maxOccurs="unbounded" />

		</xs:sequence>
	</xs:complexType>
	-->

	<!--
	 
	Not supported yet

	<xs:complexType name="T_data">
		<xs:sequence>
			<xs:element name="dataContent" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="retrieveDataContentByGet" minOccurs="0" maxOccurs="1" type="xs:boolean" />

			<xs:element ref="data-extension" minOccurs="0" maxOccurs="unbounded" />

		</xs:sequence>
	</xs:complexType>
	-->

	<!--
	 
	Not supported yet

	<xs:complexType name="T_liveStream">
		<xs:complexContent>
			<xs:extension base="T_media">
				<xs:sequence>
					<xs:element ref="bitrates" minOccurs="0" maxOccurs="1"/>
					<xs:element name="encodingIP1" minOccurs="1" maxOccurs="1" />
					<xs:element name="encodingIP2" minOccurs="0" maxOccurs="1" />
					<xs:element name="streamPassword" minOccurs="0" maxOccurs="1" />

					<xs:element ref="liveStream-extension" minOccurs="0" maxOccurs="unbounded" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->

	<!--
	 
	Not supported yet

	<xs:complexType name="T_playlists">
		<xs:sequence>
			<xs:element name="playlist" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="action" minOccurs="0" maxOccurs="1" />
						<xs:element name="name" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="256"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="playlistId" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	-->

	<xs:complexType name="T_serverFileContentResource">
		<xs:choice maxOccurs="1" minOccurs="0">
			<xs:element maxOccurs="1" minOccurs="1" name="fileSize" type="xs:int">
				<xs:annotation>
					<xs:documentation>
						The expected size of the file.<br/>
						Used for validation.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="fileChecksum">
				<xs:annotation>
					<xs:documentation>
						The expected checksum of the file.<br/>
						Used for validation.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute default="md5" name="type" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="md5"/>
										<xs:enumeration value="sha1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="filePath" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The full path of the file on the Kaltura-hosted server</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<!--  
	<xs:complexType name="T_bitrate">
		<xs:attribute name="bitrate" use="required" type="xs:int"/>
		<xs:attribute name="width" use="required" type="xs:int"/>
		<xs:attribute name="height" use="required" type="xs:int"/>
	</xs:complexType>

	<xs:complexType name="T_bitrates">
		<xs:sequence>
			<xs:element ref="bitrate" minOccurs="1" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	-->

	<xs:complexType name="T_urlContentResource">
		<xs:attribute ref="url" use="required">
			<xs:annotation>
				<xs:documentation>The URL location of the file</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="T_sshUrlContentResource">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="privateKey" type="xs:string">
				<xs:annotation>
					<xs:documentation>The SSH private key string</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="publicKey" type="xs:string">
				<xs:annotation>
					<xs:documentation>The SSH public key string</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="url" use="required">
			<xs:annotation>
				<xs:documentation>The URL location of the file</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="keyPassphrase" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The SSH key pass phrase</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="T_remoteStorageContentResource">
		<xs:choice maxOccurs="1" minOccurs="1">
			<xs:element maxOccurs="1" minOccurs="1" name="storageProfileId" type="xs:int">
				<xs:annotation>
					<xs:documentation>
						The identifier of the remote storage profile used as the source of content ingestion. Only links to the files on this remote storage are set from the entry, without actually uploading content to Kaltura. (The remote storage must be defined in Kaltura.)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="storageProfile">
				<xs:annotation>
					<xs:documentation>
						The system name of the remote storage profile used as the source of content ingestion. Only links to the files on this remote storage are set from the entry, without actually uploading content to Kaltura. (The remote storage must be defined in Kaltura.)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="url" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The relative path of the file from the remote storage base directory</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="T_remoteStorageContentResources">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" ref="remoteStorageContentResource">
				<xs:annotation>
					<xs:documentation>
						Specifies that the content location is a path within a single remote storage defined in Kaltura.<br/> 
						Using this option, only a link to the content location is set from the entry, without actually uploading content to Kaltura.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_entryContentResource">
		<xs:choice maxOccurs="1" minOccurs="0">
			<xs:element maxOccurs="1" minOccurs="1" name="flavorParamsId" type="xs:int">
				<xs:annotation>
					<xs:documentation>The flavor params identifier of the content origin entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="flavorParams">
				<xs:annotation>
					<xs:documentation>The flavor params system name of the content origin entry</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="entryId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The identifier of the entry that is the origin of the content</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="T_assetContentResource">
		<xs:attribute name="assetId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The identifier of  the asset that is the origin of the content</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="T_assetInfo">
		<xs:attribute name="language" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>specifying the language of the asset.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>UI label specifications marking the language (will affect how the language is displayed on the multi audio selector on the player)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="T_stream">
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>stream type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="trackIndex" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>int specifying the stream location(s) in video file</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="language" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>specifying the language of the audio stream. If not present - mp4 tagging will be assumed</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="channelIndex" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>the stream channel to select the audio from</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>UI label specifications marking the language (will affect how the language is displayed on the multi audio selector on the player)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="channelLayout" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>specifying the role of the specific channel</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="T_streams">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" ref="stream">
				<xs:annotation>
					<xs:documentation>streams composed of 1..n stream elements</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="T_content">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" ref="tags">
				<xs:annotation>
					<xs:documentation>
						Specifies specific tags for the ingested flavor asset.<br/> 
						Tags are used mostly to set the flavor as suitable for a specific delivery option or device. For example: web, mobile, html5,  iphone, ipad, mbr (mbr is used for setting the flavor to an adaptive bit-rate delivery)<br/>
						When the tags element is not set, the tags assigned to the transcoding flavor are used. In any case, tags from this element will be appended to the flavor params tags already set in the system.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice maxOccurs="1" minOccurs="1">
				<xs:element maxOccurs="1" minOccurs="1" ref="serverFileContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the content location is on a Kaltura-hosted server.<br/>
							By default, this option is not available to Kaltura partners.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="urlContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the content location is a URL (http/ftp)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="sshUrlContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the content location is a URL (scp/sftp)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="remoteStorageContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the content location is a path within a remote storage defined in Kaltura.<br/> 
							Using this option, only a link to the content location is set from the entry, without actually uploading content to Kaltura.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="remoteStorageContentResources">
					<xs:annotation>
						<xs:documentation>
							Specifies that content is located within several remote storages defined in Kaltura.<br/> 
							Using this option, only links to the content locations are set from the entry, without actually uploading content to Kaltura.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="entryContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the source of content ingestion is the content of an existing Kaltura entry
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="assetContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the source of content ingestion is a specific asset of an existing Kaltura entry
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="contentResource-extension"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="assetInfo">
					<xs:annotation>
						<xs:documentation>
							Holds assetInfo elements
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>


			<xs:element maxOccurs="unbounded" minOccurs="0" ref="content-extension"/>
			<xs:element maxOccurs="1" minOccurs="0" ref="streams">
				<xs:annotation>
					<xs:documentation>
						Holds stream elements that specifies instructions to the transcoding process
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="flavorParamsId" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>
					The identifier of the flavor params to be associated with the media/flavor asset. This is the flavor params identifier across partner entries. The identifier can be used to filter content.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="flavorParams" use="optional">
			<xs:annotation>
				<xs:documentation>
					The system name of the flavor params to be associated with the media/flavor asset.<br/>
					This is the flavor params identifier across partner entries. The identifier can be used to filter content.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="120"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="assetId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The identifier of the asset to be updated with the media/flavor asset.<br/>
					Used only for updating an existing media/flavor asset.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_contentAssets">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="action">
				<xs:annotation>
					<xs:documentation>
						The action to apply from the item element:<br/>
						Update - Update existing assets for entry<br/>
						replace - replace an existing assets for entry
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="update"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="content">
				<xs:annotation>
					<xs:documentation>All Content Assets</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_thumbnail">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" ref="tags">
				<xs:annotation>
					<xs:documentation>
						Specifies specific user tags to set for the thumbnail asset
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice maxOccurs="1" minOccurs="1">
				<xs:element maxOccurs="1" minOccurs="1" ref="serverFileContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the thumbnail location is on a Kaltura-hosted server.<br/>
							By default, this option is not available to Kaltura partners.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="urlContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the thumbnail location is a URL (http/ftp)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="sshUrlContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the content location is a URL (scp/sftp)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="remoteStorageContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the thumbnail location is a path within a remote storage defined in Kaltura.<br/>
							Using this option, only a link to the thumbnail location is set from the entry, without actually uploading thumbnails to Kaltura.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="remoteStorageContentResources">
					<xs:annotation>
						<xs:documentation>
							Specifies that the thumbnail is located within several remote storages defined in Kaltura.<br/> 
							Using this option, only links to the thumbnail locations are set from the entry, without actually uploading thumbnails to Kaltura.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="entryContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the source of thumbnail ingestion is an existing Kaltura entry
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="assetContentResource">
					<xs:annotation>
						<xs:documentation>
							Specifies that the source of thumbnail ingestion is a specific asset of an existing Kaltura entry
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="contentResource-extension"/>
			</xs:choice>

			<xs:element maxOccurs="unbounded" minOccurs="0" ref="thumbnail-extension"/>

		</xs:sequence>
		<xs:attribute name="assetId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The identifier of the asset to be updated with the resource. Used only for updating an existing thumbnail.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="false" name="isDefault" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>
					Specifies whether this thumbnail is set as the default thumbnail of the entry.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="thumbParamsId" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>
					The identifier of the thumb params to be associated with this thumbnail asset.  This is the thumbnail params identifier across partner entries. The identifier can be used to filter content.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="thumbParams" use="optional">
			<xs:annotation>
				<xs:documentation>
					The thumb params system name to be associated with this thumbnail asset. This is the thumbnail params identifier across partner entries. The identifier can be used to filter content.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="120"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_thumbnails">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="action">
				<xs:annotation>
					<xs:documentation>
						The action to apply from the item element:<br/>
						Update - Update existing thumbnails<br/>
						Replace - Replace all thumbnails
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="update"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="thumbnail">
				<xs:annotation>
					<xs:documentation>All Thumbnails Assets</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="T_url">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([hH][tT][tT][pP][sS]?)|(([fF][tT][pP])|([sS][fF][tT][pP])|([sS][cC][pP])))://?(([ 0-9a-zA-Z_!~*'().&amp;=+$%-\[\]]+)?(:[0-9a-zA-Z_!~*'().&amp;=+$%-\[\]]+@)?)?(([0-9]{1,3}\.){3}[0-9]{1,3}|([0-9a-zA-Z_!~*'()-]+\.)*)(:[0-9]{1,4})?((/?)|(/[ 0-9a-zA-Z_!~*'().;?:@&amp;=+$,%#-\[\]]+)+)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="T_tags">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="tag" type="xs:string">
				<xs:annotation>
					<xs:documentation>Specifies a single tag to set for a related object</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_categories">
		<xs:sequence>
			<xs:element maxOccurs="32" minOccurs="0" name="category" type="xs:string">
				<xs:annotation>
					<xs:documentation>Specifies a single category assigned to an entry. Use the &gt; character (`&amp;gt;`) to indicate the position of the category in the category tree hierarchy</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_pluginReplacementOptions">
		<xs:sequence/>
	</xs:complexType>
	
	<xs:complexType name="T_pluginReplacementOptionsItem" abstract="true">
		<xs:sequence/>
	</xs:complexType>

	<xs:element name="mrss" type="T_mrss">
		<xs:annotation>
			<xs:documentation>A wrapper element that holds the XML structure</xs:documentation>
			<xs:appinfo>
				<example>
					<mrss version="1.0">
						<channel>
							<item>...</item>
							<item>...</item>
							<item>...</item>
						</channel>
					</mrss>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="channel" type="T_channel">
		<xs:annotation>
			<xs:documentation>A wrapper element that holds multiple item elements</xs:documentation>
			<xs:appinfo>
				<example>
					<mrss version="1.0">
						<channel>
							<item>...</item>
							<item>...</item>
							<item>...</item>
						</channel>
					</mrss>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="item" type="T_item">
		<xs:annotation>
			<xs:documentation>A single entry wrapper element</xs:documentation>
			<xs:appinfo>
				<example title="XML Example 1: Adding a new media entry: Adding source media file and a default thumbnail">
					<item>
						<action>add</action>
						<type>1</type>
						<licenseType>-1</licenseType>
						<userId>myUserId</userId>
						<name>my entry name</name>
						<description>my entry free text description</description>
						<tags>
							<tag>tag1</tag>
							<tag>tag2</tag>
						</tags>
						<categories>
							<category>examples&gt;example1</category>
							<category>examples&gt;example2</category>
						</categories>
						<conversionProfile>MY_TRANSCODING_PROFILE_SYSTEM_NAME</conversionProfile>
						<startDate>2011-05-05T00:00:00</startDate>
						<endDate>2011-05-19T00:00:00</endDate>
						<media>
							<mediaType>1</mediaType> 
						</media>
						<contentAssets>...</contentAssets>
						<thumbnails>...</thumbnails>
					</item>
				</example>
				<example title="XML Example 2: Adding a new media entry: Adding multiple previously transcoded files as flavors and multiple thumbnails">
					<item>
						<action>add</action>
						<type>1</type>
						<licenseType>-1</licenseType>
						<userId>myUserId</userId>
						<name>my entry name</name>
						<description>my entry free text description</description>
						<tags>
							<tag>tag1</tag>
							<tag>tag2</tag>
						</tags>
						<categories>
							<category>examples&gt;example1</category>
							<category>examples&gt;example2</category>
						</categories>
						<conversionProfile>MY_TRANSCODING_PROFILE_SYSTEM_NAME</conversionProfile>
						<startDate>2011-05-05T00:00:00</startDate>
						<endDate>2011-05-19T00:00:00</endDate>
						<media>
							<mediaType>1</mediaType> 
						</media>
						<contentAssets>
							<content flavorParamsId="0">...</content>
							<content flavorParamsId="1">...</content>
							<content flavorParamsId="2">...</content>
						</contentAssets>
						<thumbnails>
							<thumbnail isDefault="true">...</thumbnail>
							<thumbnail>...</thumbnail>
							<thumbnail>...</thumbnail>
						</thumbnails>
					</item>
				</example>
				<example title="XML Example 3: Updating an existing media entry: Updating both metadata and media">
					<item>
						<action>update</action>
						<entryId>{entry id}</entryId>
						<userId>UpdatedUserId</userId>
						<name>updated entry name</name>
						<description>updated entry description</description>
						<tags>
							<tag>tag3</tag>
							<tag>tag4</tag>
						</tags>
						<categories>
							<category>examples&gt;example3</category>
							<category>examples&gt;example4</category>
						</categories>
						<startDate>2011-05-05T00:00:00</startDate>
						<endDate>2011-05-19T00:00:00</endDate>
						<contentAssets>...</contentAssets>
						<thumbnails>...</thumbnails>
					</item>
				</example>
				<example title="XML Example 4: Deleting an existing entry">
					<item>
						<action>delete</action>
						<entryId>{entry id}</entryId>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:element name="media" type="T_media">
		<xs:annotation>
			<xs:documentation>Media related information</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>
							<mediaType>1</mediaType> 
						</media>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<!--
	Not supported yet
	<xs:element name="mix" type="T_mix" />
	<xs:element name="playlist" type="T_playlist" />
	<xs:element name="data" type="T_data" />
	<xs:element name="liveStream" type="T_liveStream" />

	<xs:element name="playlists" type="T_playlists" />
	-->

	<xs:element name="contentAssets" type="T_contentAssets">
		<xs:annotation>
			<xs:documentation>All content assets</xs:documentation>
			<xs:appinfo>
			<example>
				<item>
					<action>add</action>
					<type>1</type>
					<media>...</media>
					<contentAssets>
						<content>...</content>
						<content>...</content>
						<content>...</content>
					</contentAssets>
				</item>
			</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="assetInfo" type="T_assetInfo">
		<xs:annotation>
			<xs:documentation>Specifies updating or adding info to asset</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<assetInfo language="eng" label="English"></assetInfo>
							</content>
						</contentAssets>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="content" type="T_content">
		<xs:annotation>
			<xs:documentation>Specifies media/flavor asset information, such as location of media files to upload, type of ingestion, and related transcoding flavor settings</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content> 
								<tags>
									<tag>web</tag>
									<tag>mbr</tag>
								</tags>
								<urlContentResource>...</urlContentResource>
							</content>
						</contentAssets>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="streams" type="T_streams">
		<xs:annotation>
			<xs:documentation>Holds stream elements that specifies instructions to the transcoding process</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<streams>...</streams>
							</content>
						</contentAssets>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="stream" type="T_stream">
		<xs:annotation>
			<xs:documentation>Specifies instructions to the transcoding process on how to handle the multiple audio tracks</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<streams>
									<stream type="audio" trackIndex="1" language="eng" label="something"/>
								</streams>
							</content>
						</contentAssets>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="thumbnails" type="T_thumbnails">
		<xs:annotation>
			<xs:documentation>All thumbnail assets</xs:documentation>
			<xs:appinfo>
			<example>
				<item>
					<action>add</action>
					<type>1</type>
					<media>...</media>
					<contentAssets>...</contentAssets>
					<thumbnails>
						<thumbnail>...</thumbnail>
					</thumbnails>
				</item>
			</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="thumbnail" type="T_thumbnail">
		<xs:annotation>
			<xs:documentation>Specifies thumbnail asset information, such as location of image files to upload, type of ingestion, and related thumbnail flavor settings</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>...</contentAssets>
						<thumbnails>
							<thumbnail isDefault="true">
								<urlContentResource>...</urlContentResource>
							</thumbnail>
						</thumbnails>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<!--  
	<xs:element name="bitrate" type="T_bitrate" />
	<xs:element name="bitrates" type="T_bitrates" />
	-->

	<xs:attribute name="url" type="T_url"/>

	<xs:element name="contentResource-extension"/>
	<xs:element name="serverFileContentResource" type="T_serverFileContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that the location of content ingestion is on a Kaltura-hosted server. By default, this option is not available to Kaltura partners.</xs:documentation>
			<xs:appinfo>
				<example title="XML Example 1: Adding content from a Kaltura server: Using file size validation">
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<serverFileContentResource filePath="/server/external/disc/path/video.mp4">
									<fileSize>453453344</fileSize>
								</serverFileContentResource>
							</content>
						</contentAssets>
						<thumbnails>...</thumbnails>
					</item>
				</example>
				<example title="XML Example 2: Adding content from a Kaltura server: Using checksum validation">
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<serverFileContentResource filePath="/server/external/disc/path/file.jpg">
									<fileChecksum type="md5">sdfsjodf90sfsdfzfasdfwrg34</fileChecksum>
								</serverFileContentResource>
							</content>
						</contentAssets>
						<thumbnails>...</thumbnails>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="urlContentResource" type="T_urlContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that the location of content ingestion is a URL (http/ftp)</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<urlContentResource url="http://my.domain/path/video.mp4"/>
							</content>
						</contentAssets>
						<thumbnails>
							<thumbnail>
								<urlContentResource url="http://my.domain/path/thumb.jpg"/>
							</thumbnail>
						</thumbnails>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="sshUrlContentResource" type="T_sshUrlContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that the location of content ingestion is a URL (scp/sftp)</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<sshUrlContentResource url="sftp://user@my.domain/path/video.mp4">
									<privateKey>-----BEGIN RSA PRIVATE KEY-----
MIIEoQIBAAKCAQEAxVOIocT3q+aQKUvs53LOnxokoJUtZXKHL+LArNl4a3dhZ8wY
ZPGwodSydB/jo4aHKZztA0YCPd3LOnxoko3LOnxokoJUtCM/DdVGQfb/0+PpWzPe
KIGdzIl3LOoJUtfOAMS6nC3LOnxJUt33LOnxnxokoJUtXN1ej06CYPR5ZfwKFFIO
tK1yWx3LOnxokoJUtNRSdEi</privateKey>
									<publicKey>ssh-rsa AAAAB3NzaC1yc2l4a3dhZ8wYEAAxVOIocT3q+aQKUvs5omvVdPl4a3dhZ8wY+LArTNl4a3dhZ8wl4a3dhZ8wY/jo4aHKZztA0YCPd3LOnxokoJUtACM/Dm0wq67dVGQfb/0+PpWzPeCKIGdEEPAzIlfOAMS6nC3Hy3ydBFbi5IJtbGmXN1ej06CYPR5ZfwKAD8FFIOa7dMYtK1yWxNRSdEih00Z8vEiiAkoEHDatRMKVbluqdPVTleQzgqnYL/45l4a3dhZ8wYnbItnQYQgyxGbYgmMMVGGZsZnpRhRtvhAUOsQoixRC14sKHsl4a3dhZ8wY/l4a3dhZ8wY+qbHEaDdl4a3dhZ8wY/QWnhlhKQwIzXl4a3dhZ8wY== user@my.domain</publicKey>
								</sshUrlContentResource>
							</content>
						</contentAssets>
						<thumbnails>
							<thumbnail>
								<sshUrlContentResource url="scp://user@my.domain/path/thumb.jpg">
									<privateKey>-----BEGIN RSA PRIVATE KEY-----
MIIEoQIBAAKCAQEAxVOIocT3q+aQKUvs53LOnxokoJUtZXKHL+LArNl4a3dhZ8wY
ZPGwodSydB/jo4aHKZztA0YCPd3LOnxoko3LOnxokoJUtCM/DdVGQfb/0+PpWzPe
KIGdzIl3LOoJUtfOAMS6nC3LOnxJUt33LOnxnxokoJUtXN1ej06CYPR5ZfwKFFIO
tK1yWx3LOnxokoJUtNRSdEi</privateKey>
									<publicKey>ssh-rsa AAAAB3NzaC1yc2l4a3dhZ8wYEAAxVOIocT3q+aQKUvs5omvVdPl4a3dhZ8wY+LArTNl4a3dhZ8wl4a3dhZ8wY/jo4aHKZztA0YCPd3LOnxokoJUtACM/Dm0wq67dVGQfb/0+PpWzPeCKIGdEEPAzIlfOAMS6nC3Hy3ydBFbi5IJtbGmXN1ej06CYPR5ZfwKAD8FFIOa7dMYtK1yWxNRSdEih00Z8vEiiAkoEHDatRMKVbluqdPVTleQzgqnYL/45l4a3dhZ8wYnbItnQYQgyxGbYgmMMVGGZsZnpRhRtvhAUOsQoixRC14sKHsl4a3dhZ8wY/l4a3dhZ8wY+qbHEaDdl4a3dhZ8wY/QWnhlhKQwIzXl4a3dhZ8wY== user@my.domain</publicKey>
								</sshUrlContentResource>
							</thumbnail>
						</thumbnails>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="remoteStorageContentResource" type="T_remoteStorageContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that the location of content ingestion is a path within a remote storage defined in Kaltura. Using this option, only a link to the content location is set from the entry, without actually uploading content to Kaltura.</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<remoteStorageContentResource url="path_from_base_dir/video.mp4">
									<storageProfile>MY_STORAGE_PROFILE_SYSTEM_NAME</storageProfile>
								</remoteStorageContentResource>
							</content>
						</contentAssets>
						<thumbnails>
							<thumbnail>
								<remoteStorageContentResource url="path_from_base_dir/thumb.jpg">
									<storageProfile>MY_STORAGE_PROFILE_SYSTEM_NAME</storageProfile>
								</remoteStorageContentResource>
							</thumbnail>
						</thumbnails>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="remoteStorageContentResources" type="T_remoteStorageContentResources">
		<xs:annotation>
			<xs:documentation>Sets the location of content ingestion within several remote storages defined in Kaltura. Using this option, only links to the content location are set from the entry, without actually uploading content to Kaltura.</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<remoteStorageContentResources>
									<remoteStorageContentResource url="path_from_base_dir/video.mp4">
										<storageProfile>MY_STORAGE_PROFILE_SYSTEM_NAME_1</storageProfile>
									</remoteStorageContentResource>
									<remoteStorageContentResource url="path_from_base_dir/video.mp4">
										<storageProfile>MY_STORAGE_PROFILE_SYSTEM_NAME_2</storageProfile>
									</remoteStorageContentResource>
								</remoteStorageContentResources>
							</content>
						</contentAssets>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="entryContentResource" type="T_entryContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that the source of content ingestion is the content of an existing Kaltura entry</xs:documentation>
			<xs:appinfo>
				<example title="XML Example: Adding flavor asset from an existing entry and associating it with a specific flavor params in a target entry">
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<entryContentResource entryId="{origin entry id}">
									<flavorParams>BASIC_SMALL</flavorParams>
								</entryContentResource>
							</content>
						</contentAssets>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="assetContentResource" type="T_assetContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that the source of content ingestion is a specific asset of an existing Kaltura entry</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<contentAssets>
							<content>
								<assetContentResource assetId="{existing asset id}"/>
							</content>
						</contentAssets>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:element name="tags" type="T_tags">
		<xs:annotation>
			<xs:documentation>Free text tags</xs:documentation>
			<xs:appinfo>
				<example title="XML Example: Entry tags">
					<item>
						<action>add</action>
						<tags>
							<tag>tag1</tag>
							<tag>tag2</tag>
						</tags>
						<media>...</media>
						<contentAssets>...</contentAssets>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="categories" type="T_categories">
		<xs:annotation>
			<xs:documentation>Entry`s category assignment.</xs:documentation>
			<xs:appinfo>
				<example title="XML Example: Entry categories">
					<item>
						<action>add</action>
						<categories>
							<category>examples&gt;example1</category>
							<category>examples&gt;example2</category>
						</categories>
						<media>...</media>
						<contentAssets>...</contentAssets>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:element name="mrss-extension"/>
	<xs:element name="channel-extension"/>
	<xs:element name="item-extension"/>
	<xs:element name="media-extension"/>
	<xs:element name="mix-extension"/>
	<xs:element name="playlist-extension"/>
	<xs:element name="data-extension"/>
	<xs:element name="liveStream-extension"/>
	<xs:element name="document-extension"/>
	<xs:element name="content-extension"/>
	<xs:element name="thumbnail-extension"/>

</xs:schema>
