plugins/bulk_upload/xml/xml/ingestion.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	
	<xs:complexType name="T_mrss">
		<xs:sequence>
			<xs:element ref="channel" maxOccurs="unbounded" minOccurs="1">
				<xs:annotation>
					<xs:documentation>holding multiple item elements</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element ref="mrss-extension" minOccurs="0" maxOccurs="unbounded" />
			
		</xs:sequence>
		<xs:attribute name="version" use="optional" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>
					Indicates the XSD version to be used
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_channel">
		<xs:sequence>
			<xs:element ref="item" maxOccurs="unbounded" minOccurs="1">
				<xs:annotation>
					<xs:documentation>holding entry element</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element ref="channel-extension" minOccurs="0" maxOccurs="unbounded" />
			
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="T_item">
		<xs:sequence>
			<xs:element name="action" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entry action to apply from item element</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="add" />
						<xs:enumeration value="update" />
						<xs:enumeration value="delete" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice minOccurs="1" maxOccurs="2">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:sequence>
						<xs:element name="type" minOccurs="1" maxOccurs="1" type="KalturaEntryType">
							<xs:annotation>
								<xs:documentation>Entry type of the new created entry<br/>(Only MEDIA_CLIP is supported for XML ingestion)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="licenseType" minOccurs="0" maxOccurs="1" type="KalturaLicenseType">
							<xs:annotation>
								<xs:documentation>License type of the new created entry</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="entryId" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>ID of entry to apply update/delete action on</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:choice>
				<xs:element name="referenceId" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Partner external identifier of the entry</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:element name="userId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User identifier of content creator/owner</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="name" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entry`s title</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Entry`s description text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="tags" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entry`s free text tags</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="categories" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entry`s category assignment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partnerData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Publisher specific information related to the entry<br/>Usually in use for implementing specific integration</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="partnerSortData" minOccurs="0" maxOccurs="1" type="xs:int">
				<xs:annotation>
					<xs:documentation>Partner specific order, to enable custom ordering and filtering<br/>Usually in use for implementing specific integration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="accessControlId" minOccurs="1" maxOccurs="1" type="xs:int">
					<xs:annotation>
						<xs:documentation>Entry`s access control identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="accessControl" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Entry`s access control system name</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="120"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="conversionProfileId" minOccurs="1" maxOccurs="1" type="xs:int">
					<xs:annotation>
						<xs:documentation>
							Entry`s transcoding profile identifier<br/>
							If not specified, the bulk upload default will be used<br/>
							If not specified, or set to (-1), the partner default will be used 
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="conversionProfile" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Entry`s transcoding profile system name<br/>
							If not specified, the bulk upload default will be used<br/>
							If not specified, the partner default will be used
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="120"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:element name="startDate" minOccurs="0" maxOccurs="1" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						Entry`s scheduling start date<br/>
						When not defined entry will be available for publishing as of creation time
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" minOccurs="0" maxOccurs="1" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						Entry`s scheduling start date<br/>
						When not defined entry will be available for publishing forever
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="media" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Specifying media related information, such as media type
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!--
				Not supported yet
				<xs:element ref="mix" minOccurs="1" maxOccurs="1" />
				<xs:element ref="playlist" minOccurs="1" maxOccurs="1" />
				<xs:element ref="data" minOccurs="1" maxOccurs="1" />
				<xs:element ref="liveStream" minOccurs="1" maxOccurs="1" />
				-->
			</xs:choice>
			
			<xs:element ref="content" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Specifying flavor asset  information<br/>
						such as location of media files to upload<br/>
						type of ingestion, related transcoding settings etc
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="thumbnail" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Specifying thumbnail related information<br/>
						such as location of media files<br/>
						related transcoding settings etc
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element ref="item-extension" minOccurs="0" maxOccurs="unbounded" />
			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_media">
		<xs:sequence>
			<xs:element name="mediaType" minOccurs="1" maxOccurs="1" type="KalturaMediaType">
				<xs:annotation>
					<xs:documentation>
						Specifies the entry media type<br/>
						Only VIDEO, AUDIO are currently supported for XML based ingestion
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--
			Not supported yet
			<xs:element ref="playlists" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Used to define the playlists of the media, currently not supported</xs:documentation>
				</xs:annotation>
			</xs:element>
			-->
			
			<xs:element ref="media-extension" minOccurs="0" maxOccurs="unbounded" />
			
		</xs:sequence>
	</xs:complexType>

	<!--
	Not supported yet
	<xs:complexType name="T_mix">
		<xs:sequence>
			<xs:element name="editorType" minOccurs="1" maxOccurs="1" type="KalturaEditorType"/>
			<xs:element name="dataContent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The xml data of the mix
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any processContents="skip"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element ref="mix-extension" minOccurs="0" maxOccurs="unbounded" />
			
		</xs:sequence>
	</xs:complexType>
	-->

	<!--
	 
	Not supported yet

	<xs:complexType name="T_playlist">
		<xs:sequence>
			<xs:element name="playlistType" minOccurs="1" maxOccurs="1" type="KalturaPlaylistType"/>
			<xs:element name="playlistContent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Content of the playlist - 
							- XML if the playlistType is dynamic 
							- Text if the playlistType is static 
							- URL if the playlistType is mRss 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element ref="playlist-extension" minOccurs="0" maxOccurs="unbounded" />
			
		</xs:sequence>
	</xs:complexType>
	-->

	<!--
	 
	Not supported yet

	<xs:complexType name="T_data">
		<xs:sequence>
			<xs:element name="dataContent" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="retrieveDataContentByGet" minOccurs="0" maxOccurs="1" type="xs:boolean" />
		
			<xs:element ref="data-extension" minOccurs="0" maxOccurs="unbounded" />
			
		</xs:sequence>
	</xs:complexType>
	-->

	<!--
	 
	Not supported yet

	<xs:complexType name="T_liveStream">
		<xs:complexContent>
			<xs:extension base="T_media">
				<xs:sequence>
					<xs:element ref="bitrates" minOccurs="0" maxOccurs="1"/>
					<xs:element name="encodingIP1" minOccurs="1" maxOccurs="1" />
					<xs:element name="encodingIP2" minOccurs="0" maxOccurs="1" />
					<xs:element name="streamPassword" minOccurs="0" maxOccurs="1" />
				
					<xs:element ref="liveStream-extension" minOccurs="0" maxOccurs="unbounded" />
			
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->

	<!--
	 
	Not supported yet

	<xs:complexType name="T_playlists">
		<xs:sequence>
			<xs:element name="playlist" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="action" minOccurs="0" maxOccurs="1" />
						<xs:element name="name" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="playlistId" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	-->

	<xs:complexType name="T_serverFileContentResource">
		<xs:choice minOccurs="0" maxOccurs="1">
			<xs:element name="fileSize" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The expected size of the file<br/>
						used for validation
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileChecksum" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The expected checksum of the file<br/>
						used for validation
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="type" use="optional" default="md5">				
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="md5"/>
										<xs:enumeration value="sha1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="filePath" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The full path of the file</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<!--  
	<xs:complexType name="T_bitrate">
		<xs:attribute name="bitrate" use="required" type="xs:int"/>
		<xs:attribute name="width" use="required" type="xs:int"/>
		<xs:attribute name="height" use="required" type="xs:int"/>
	</xs:complexType>
	
	<xs:complexType name="T_bitrates">
		<xs:sequence>
			<xs:element ref="bitrate" minOccurs="1" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	-->
	
	<xs:complexType name="T_urlContentResource">
		<xs:attribute ref="url" use="required">
			<xs:annotation>
				<xs:documentation>Remote location of file</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_remoteStorageContentResource">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element name="storageProfileId" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remote storage id to be used for linking remote files</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storageProfile" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remote storage system name to be used for linking remote files</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="url" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Relative path from remote storage base directory</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_remoteStorageContentResources">
		<xs:sequence>
			<xs:element ref="remoteStorageContentResource" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Single content file location within a Kaltura defined remote storage</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_entryContentResource">
		<xs:choice minOccurs="0" maxOccurs="1">
			<xs:element name="flavorParamsId" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Origin entry flavor params id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flavorParams" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Origin entry flavor params system name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="entryId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Origin entry id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_assetContentResource">
		<xs:attribute name="assetId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Origin asset id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_content">
		<xs:sequence>
			<xs:element ref="tags" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies specific tags you want to set for the flavor asset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element ref="serverFileContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content ingestion location is on a Kaltura hosted server</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="urlContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content file location is a URL (http,ftp)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="remoteStorageContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content file location is a path within a Kaltura defined remote storage</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="remoteStorageContentResources" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Set of content files within several Kaltura defined remote storages</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="entryContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content is a Kaltura entry</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="assetContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content is a Kaltura asset</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="contentResource-extension" minOccurs="1" maxOccurs="1" />
			</xs:choice>
		
			<xs:element ref="content-extension" minOccurs="0" maxOccurs="unbounded" />
		
		</xs:sequence>
		<xs:attribute name="flavorParamsId" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>
					The flavor params id to be associated with this flavor asset
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="flavorParams" use="optional">
			<xs:annotation>
				<xs:documentation>
					The flavor params system name to be associated with this flavor asset
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="120"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="assetId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The asset id to be updated with this resource used only for update
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_thumbnail">
		<xs:sequence>
			<xs:element ref="tags" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies specific tags you want to set for the thumbnail asset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element ref="serverFileContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content ingestion location is on a Kaltura hosted server</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="urlContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content file location is a URL (http,ftp)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="remoteStorageContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content file location is a path within a Kaltura defined remote storage</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="remoteStorageContentResources" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Set of content files within several Kaltura defined remote storages</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="entryContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content is a Kaltura entry</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="assetContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content is a Kaltura asset</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="contentResource-extension" minOccurs="1" maxOccurs="1" />
			</xs:choice>
		
			<xs:element ref="thumbnail-extension" minOccurs="0" maxOccurs="unbounded" />
			
		</xs:sequence>
		<xs:attribute name="assetId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The asset id to be updated with this resource userd only for update</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isDefault" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Specifiy whether this thumbnail will be set to be the default thumbnail of the entry</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="thumbParamsId" type="xs:int" use="optional" >
			<xs:annotation>
				<xs:documentation>
					The thumb params to be associated with this thumb asset
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="thumbParams" use="optional" >
			<xs:annotation>
				<xs:documentation>
					The thumb params system name to be associated with this thumb asset
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="120"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="T_url">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([hH][tT][tT][pP][sS]?)|([fF][tT][pP]))://?(([ 0-9a-zA-Z_!~*'().&amp;=+$%-\[\]]+:)?[ 0-9a-zA-Z_!~*'().&amp;=+$%-\[\]]+@)?(([0-9]{1,3}\.){3}[0-9]{1,3}|([0-9a-zA-Z_!~*'()-]+\.)*(([0-9a-zA-Z][0-9a-zA-Z-]{0,61})?[0-9a-zA-Z])[.]([a-zA-Z]{2,6}))([.]([a-zA-Z]{2,6}))*(:[0-9]{1,4})?((/?)|(/[ 0-9a-zA-Z_!~*'().;?:@&amp;=+$,%#-\[\]]+)+)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="T_tags">
		<xs:sequence>
			<xs:element name="tag" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies a single free text tag to be set for the related object</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_categories">
		<xs:sequence>
			<xs:element name="category" type="xs:string" minOccurs="1" maxOccurs="32">
				<xs:annotation>
					<xs:documentation>Specifies a single category assignment for the Entry. User the `%gt;` character to indicate category hierarchy location</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="mrss" type="T_mrss">
		<xs:annotation>
			<xs:documentation>Wrapper element holding XML structure</xs:documentation>
			<xs:appinfo>
				<example>
					<mrss>
						<channel>
							<item>...</item>
							<item>...</item>
							<item>...</item>
						</channel>
					</mrss>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="channel" type="T_channel">
		<xs:annotation>
			<xs:documentation>Wrapper element holding multiple item elements</xs:documentation>
			<xs:appinfo>
				<example>
					<mrss>
						<channel>
							<item>...</item>
							<item>...</item>
							<item>...</item>
						</channel>
					</mrss>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="item" type="T_item">
		<xs:annotation>
			<xs:documentation>Single entry wrapper element</xs:documentation>
			<xs:appinfo>
				<example title="Adding new media entry example">
					<item>
						<action>add</action>
						<type>1</type>
						<licenseType>-1</licenseType>
						<userId>my.user.id</userId>
						<name>my entry name</name>
						<description>my entry free text description</description>
						<tags>
							<tag>example</tag>
							<tag>my_tag</tag>
						</tags>
						<categories>
							<category>examples&gt;example1</category>
							<category>examples&gt;example2</category>
						</categories>
						<conversionProfile>MY_CONVERSION_PROFILE_SYSTEM_NAME</conversionProfile>
						<startDate>2011-05-05T00:00:00</startDate>
						<endDate>2011-05-19T00:00:00</endDate>
						<media>
							<mediaType>1</mediaType> 
						</media>
						<content flavorParamsId="0">...</content>
						<content flavorParamsId="1">...</content>
						<content flavorParamsId="2">...</content>
						<thumbnail>...</thumbnail>
						<thumbnail>...</thumbnail>
						<thumbnail>...</thumbnail>
					</item>
				</example>
				<example title="Updating existing media entry example">
					<item>
						<action>update</action>
						<entryId>{entry id}</entryId>
						<userId>my.user.id</userId>
						<name>my entry name</name>
						<description>my entry free text description</description>
						<tags>
							<tag>example</tag>
							<tag>my_tag</tag>
						</tags>
						<categories>
							<category>examples&gt;example1</category>
							<category>examples&gt;example2</category>
						</categories>
						<startDate>2011-05-05T00:00:00</startDate>
						<endDate>2011-05-19T00:00:00</endDate>
						<content flavorParamsId="0">...</content>
						<content flavorParamsId="1">...</content>
						<content flavorParamsId="2">...</content>
						<thumbnail>...</thumbnail>
						<thumbnail>...</thumbnail>
						<thumbnail>...</thumbnail>
					</item>
				</example>
				<example title="Deleting entry example">
					<item>
						<action>delete</action>
						<entryId>{entry id}</entryId>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="media" type="T_media">
		<xs:annotation>
			<xs:documentation>Media related information, such as media type</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>
							<mediaType>1</mediaType> 
						</media>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<!--
	Not supported yet
	<xs:element name="mix" type="T_mix" />
	<xs:element name="playlist" type="T_playlist" />
	<xs:element name="data" type="T_data" />
	<xs:element name="liveStream" type="T_liveStream" />
	
	<xs:element name="playlists" type="T_playlists" />
	-->
	
	<xs:element name="content" type="T_content">
		<xs:annotation>
			<xs:documentation>Flavor asset element</xs:documentation>
			<xs:appinfo>
				<example title="Flavor from URL example">
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<content flavorParams="source"> 
							<tags>
								<tag>web</tag>
								<tag>mbr</tag>
							</tags>
							<urlContentResource>...</urlContentResource>
						</content>
					</item>
				</example>
				<example title="Flavor from existing entry example">
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<content flavorParams="source"> 
							<tags>
								<tag>web</tag>
								<tag>mbr</tag>
							</tags>
							<entryContentResource>...</entryContentResource>
						</content>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="thumbnail" type="T_thumbnail">
		<xs:annotation>
			<xs:documentation>Thumbnail asset element</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<content>...</content>
						<thumbnail>
							<urlContentResource>...</urlContentResource>
						</thumbnail>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<!--  
	<xs:element name="bitrate" type="T_bitrate" />
	<xs:element name="bitrates" type="T_bitrates" />
	-->
	
	<xs:attribute name="url" type="T_url" />
	
	<xs:element name="contentResource-extension" />
	<xs:element name="serverFileContentResource" type="T_serverFileContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that content ingestion location is on a Kaltura hosted server</xs:documentation>
			<xs:appinfo>
				<example title="Using file size validation example">
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<content>...</content>
						<thumbnail>
							<serverFileContentResource filePath="/server/external/disc/path/file.jpg">
								<fileSize>453453344</fileSize>
							</serverFileContentResource>
						</thumbnail>
					</item>
				</example>
				<example title="Using checksum validation example">
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<content>...</content>
						<thumbnail>
							<serverFileContentResource filePath="/server/external/disc/path/file.jpg">
								<fileChecksum type="md5">sdfsjodf90sfsdfzfasdfwrg34</fileChecksum>
							</serverFileContentResource>
						</thumbnail>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="urlContentResource" type="T_urlContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that content file location is a URL (http,ftp)</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<content>
							<urlContentResource url="http://my.domain/path/video.jpg"/>
						</content>
						<thumbnail>
							<urlContentResource url="http://my.domain/path/thumb.jpg"/>
						</thumbnail>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="remoteStorageContentResource" type="T_remoteStorageContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that content file location is a path within a Kaltura defined remote storage</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<content>
							<remoteStorageContentResource url="path/video.jpg">
								<storageProfile>MY_STORAGE_PROFILE_SYSTEM_NAME</storageProfile>
							</remoteStorageContentResource>
						</content>
						<thumbnail>
							<remoteStorageContentResource url="path/thumb.jpg">
								<storageProfile>MY_STORAGE_PROFILE_SYSTEM_NAME</storageProfile>
							</remoteStorageContentResource>
						</thumbnail>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="remoteStorageContentResources" type="T_remoteStorageContentResources">
		<xs:annotation>
			<xs:documentation>Set of content files within several Kaltura defined remote storages</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<content>
							<remoteStorageContentResources>
								<remoteStorageContentResource url="path1/video.jpg">
									<storageProfile>MY_STORAGE_PROFILE_SYSTEM_NAME_1</storageProfile>
								</remoteStorageContentResource>
								<remoteStorageContentResource url="path2/video.jpg">
									<storageProfile>MY_STORAGE_PROFILE_SYSTEM_NAME_2</storageProfile>
								</remoteStorageContentResource>
							</remoteStorageContentResources>
						</content>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="entryContentResource" type="T_entryContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that content is a Kaltura entry</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<content>
							<entryContentResource entryId="{existing entry id}">
								<flavorParams>BASIC_SMALL</flavorParams>
							</entryContentResource>
						</content>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="assetContentResource" type="T_assetContentResource">
		<xs:annotation>
			<xs:documentation>Specifies that content is a Kaltura asset</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<action>add</action>
						<type>1</type>
						<media>...</media>
						<content>
							<assetContentResource assetId="{existing asset id}"/>
						</content>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="tags" type="T_tags">
		<xs:annotation>
			<xs:documentation>Free text tags</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="categories" type="T_categories">
		<xs:annotation>
			<xs:documentation>Category assignments for entries</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="mrss-extension" />
	<xs:element name="channel-extension" />
	<xs:element name="item-extension" />
	<xs:element name="media-extension" />
	<xs:element name="mix-extension" />
	<xs:element name="playlist-extension" />
	<xs:element name="data-extension" />
	<xs:element name="liveStream-extension" />
	<xs:element name="document-extension" />
	<xs:element name="content-extension" />
	<xs:element name="thumbnail-extension" />

</xs:schema>