plugins/bulk_upload/bulk_upload_xml/xml/ingestion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="T_mrss">
		<xs:sequence>
			<xs:element ref="channel" maxOccurs="unbounded" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_channel">
		<xs:sequence>
			<xs:element ref="item" maxOccurs="unbounded" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="T_item">
		<xs:sequence>
			<xs:element name="action" minOccurs="0" maxOccurs="1" default="add">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="add"/>
						<xs:enumeration value="update"/>
						<xs:enumeration value="delete"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="type" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaEntryType</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="-1">
									<xs:annotation>
										<xs:documentation>AUTOMATIC</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1">
									<xs:annotation>
										<xs:documentation>MEDIA</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2">
									<xs:annotation>
										<xs:documentation>MIX</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="5">
									<xs:annotation>
										<xs:documentation>PLAYLIST</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="6">
									<xs:annotation>
										<xs:documentation>DATA</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="7">
									<xs:annotation>
										<xs:documentation>LIVE_STREAM</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="10">
									<xs:annotation>
										<xs:documentation>DOCUMENT</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="licenseType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaLicenseType</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="-1"><xs:annotation><xs:documentation>UNKNOWN</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="0"><xs:annotation><xs:documentation>NONE</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="1"><xs:annotation><xs:documentation>COPYRIGHTED</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="2"><xs:annotation><xs:documentation>PUBLIC_DOMAIN</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="3"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="4"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION_SHARE_ALIKE</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="5"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION_NO_DERIVATIVES</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="6"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION_NON_COMMERCIAL</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="7"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION_NON_COMMERCIAL_SHARE_ALIKE</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="8"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION_NON_COMMERCIAL_NO_DERIVATIVES</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="9"><xs:annotation><xs:documentation>GFDL</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="10"><xs:annotation><xs:documentation>GPL</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="11"><xs:annotation><xs:documentation>AFFERO_GPL</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="12"><xs:annotation><xs:documentation>LGPL</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="13"><xs:annotation><xs:documentation>BSD</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="14"><xs:annotation><xs:documentation>APACHE</xs:documentation></xs:annotation></xs:enumeration>
								<xs:enumeration value="15"><xs:annotation><xs:documentation>MOZILLA</xs:documentation></xs:annotation></xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="userId" minOccurs="0" maxOccurs="1" type="xs:string" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="entryId" minOccurs="1" maxOccurs="1" nillable="false">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:element name="name" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" />
			<xs:element ref="tags" minOccurs="0" maxOccurs="1" />
			<xs:element ref="categories" minOccurs="0" maxOccurs="1" />
			<xs:element name="partnerData" minOccurs="0" maxOccurs="1" type="xs:string" />
			<xs:element name="partnerSortData" minOccurs="0" maxOccurs="1" type="xs:int" />
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="accessControlId" minOccurs="1" maxOccurs="1" type="xs:int" />
				<xs:element name="accessControl" minOccurs="1" maxOccurs="1" type="xs:string" />
			</xs:choice>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="ingestionProfileId" minOccurs="1" maxOccurs="1" type="xs:int" />
				<xs:element name="ingestionProfile" minOccurs="1" maxOccurs="1" type="xs:string" />
			</xs:choice>
			<xs:element name="startDate" minOccurs="0" maxOccurs="1" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						If not specified NOW will be used as start date.
						Will be used as default for all distributions.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" minOccurs="0" maxOccurs="1" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						If not specified the entry will be available forever.
						Will be used as default for all distributions.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="media" minOccurs="1" maxOccurs="1" />
				<xs:element ref="mix" minOccurs="1" maxOccurs="1" />
				<xs:element ref="playlist" minOccurs="1" maxOccurs="1" />
				<xs:element ref="data" minOccurs="1" maxOccurs="1" />
				<xs:element ref="liveStream" minOccurs="1" maxOccurs="1" />
				<xs:element ref="document" minOccurs="1" maxOccurs="1" />
			</xs:choice>
			
			<xs:element ref="content" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="thumbnail" minOccurs="0" maxOccurs="unbounded" />
			
			<xs:element ref="distribution" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="customData" minOccurs="0" maxOccurs="unbounded" />
			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_media">
		<xs:sequence>
			<xs:element name="mediaType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaMediaType</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"><xs:annotation><xs:documentation>VIDEO</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>IMAGE</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="5"><xs:annotation><xs:documentation>AUDIO</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="201"><xs:annotation><xs:documentation>LIVE_STREAM_FLASH</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="202"><xs:annotation><xs:documentation>LIVE_STREAM_WINDOWS_MEDIA</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="203"><xs:annotation><xs:documentation>LIVE_STREAM_REAL_MEDIA</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="204"><xs:annotation><xs:documentation>LIVE_STREAM_QUICKTIME</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="playlists" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_mix">
		<xs:sequence>
			<xs:element name="editorType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The editor type used to edit the metadata
						http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaEditorType
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"><xs:annotation><xs:documentation>SIMPLE</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>ADVANCED</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dataContent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The xml data of the mix
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any processContents="skip"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_playlist">
		<xs:sequence>
			<xs:element name="playlistType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaPlaylistType</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="10"><xs:annotation><xs:documentation>DYNAMIC</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="3"><xs:annotation><xs:documentation>STATIC_LIST</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="101"><xs:annotation><xs:documentation>EXTERNAL</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="playlistContent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Content of the playlist - 
							- XML if the playlistType is dynamic 
							- Text if the playlistType is static 
							- URL if the playlistType is mRss 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_data">
		<xs:sequence>
			<xs:element name="dataContent" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="retrieveDataContentByGet" minOccurs="0" maxOccurs="1" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_liveStream">
		<xs:complexContent>
			<xs:extension base="T_media">
				<xs:sequence>
					<xs:element ref="bitrates" minOccurs="0" maxOccurs="1"/>
					<xs:element name="encodingIP1" minOccurs="1" maxOccurs="1" />
					<xs:element name="encodingIP2" minOccurs="0" maxOccurs="1" />
					<xs:element name="streamPassword" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="T_document">
		<xs:sequence>
			<xs:element name="documentType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaDocumentType</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="11"><xs:annotation><xs:documentation>DOCUMENT</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="12"><xs:annotation><xs:documentation>SWF</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="13"><xs:annotation><xs:documentation>PDF</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_playlists">
		<xs:sequence>
			<xs:element name="playlist" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="action" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="new"/>
									<xs:enumeration value="add"/>
									<xs:enumeration value="remove"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="name" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="playlistId" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>	
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_localFileContentResource">
		<xs:choice minOccurs="0" maxOccurs="1">
			<xs:element name="fileSize" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fileChecksum" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="type" use="optional" default="md5">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="md5"/>
								<xs:enumeration value="sha1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="filePath" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="T_bitrate">
		<xs:attribute name="bitrate" use="required" type="xs:int"/>
		<xs:attribute name="width" use="required" type="xs:int"/>
		<xs:attribute name="height" use="required" type="xs:int"/>
	</xs:complexType>
	
	<xs:complexType name="T_bitrates">
		<xs:sequence>
			<xs:element ref="bitrate" minOccurs="1" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_urlContentResource">
		<xs:attribute ref="url" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="T_remoteStorageContentResource">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element name="storageProfileId" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="storageProfile" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:choice>
		<xs:attribute ref="url" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="T_entryContentResource">
		<xs:choice minOccurs="0" maxOccurs="1">
			<xs:element name="flavorParamsId" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="flavorParams" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:choice>
		<xs:attribute name="entryId" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="T_assetContentResource">
		<xs:attribute name="assetId" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="T_content">
		<xs:sequence>
			<xs:element ref="tags" minOccurs="0" maxOccurs="1" />
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element ref="localFileContentResource" minOccurs="1" maxOccurs="1" />
				<xs:element ref="urlContentResource" minOccurs="1" maxOccurs="1" />
				<xs:element ref="remoteStorageContentResource" minOccurs="1" maxOccurs="1" />
				<xs:element ref="entryContentResource" minOccurs="1" maxOccurs="1" />
				<xs:element ref="assetContentResource" minOccurs="1" maxOccurs="1" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="optional" />
		<xs:attribute name="flavorParamsId" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>
					The flavor params id to be associated with this flavor asset.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="flavorParams" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The flavor params system name to be associated with this flavor asset.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_thumbnail">
		<xs:sequence>
			<xs:element ref="tags" minOccurs="0" maxOccurs="1" />
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element ref="localFileContentResource" minOccurs="1" maxOccurs="1" />
				<xs:element ref="urlContentResource" minOccurs="1" maxOccurs="1" />
				<xs:element ref="remoteStorageContentResource" minOccurs="1" maxOccurs="1" />
				<xs:element ref="entryContentResource" minOccurs="1" maxOccurs="1" />
				<xs:element ref="assetContentResource" minOccurs="1" maxOccurs="1" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="optional" />
		<xs:attribute name="isDefault" type="xs:boolean" use="optional" default="false" />
		<xs:attribute name="thumbParamsId" type="xs:int" use="optional" >
			<xs:annotation>
				<xs:documentation>
					The thumb params to be associated with this thumb asset.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="thumbParams" type="xs:string" use="optional" >
			<xs:annotation>
				<xs:documentation>
					The thumb params to be associated with this thumb asset.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_distribution">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="distributionProvider" minOccurs="1" maxOccurs="1" type="xs:string" />
				<xs:element name="distributionProfileId" minOccurs="1" maxOccurs="1" type="xs:int" />
				<xs:element name="distributionProfile" minOccurs="1" maxOccurs="1" type="xs:string" />
			</xs:choice>
			<xs:element name="sunrise" minOccurs="0" maxOccurs="1" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						Taken from the entry if not specified.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sunset" minOccurs="0" maxOccurs="1" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						Taken from the entry if not specified.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flavorAssetIds" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						List of existing flavor asset ids to be used in this distribution destination.
						Could be used only on existing entry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="thumbAssetIds" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						List of existing thumbnail asset ids to be used in this distribution destination.
						Could be used only on existing entry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="submitWhenReady" use="optional" type="xs:boolean" default="false" />
	</xs:complexType>
	
	<xs:complexType name="T_customData">
		<xs:sequence>
			<xs:any namespace="##local" processContents="skip"/>			
			<!-- 
			<xs:element ref="xsd:metadata" minOccurs="1" maxOccurs="1"/>
			-->
		</xs:sequence>
		<xs:attribute name="metadataProfileId" use="optional" type="xs:int"/>
		<xs:attribute name="metadataProfile" use="optional" type="xs:string"/>
	</xs:complexType>
	
	<xs:simpleType name="T_url">
		<xs:restriction base="xs:string">
			<!-- TODO: fix this!!!<xs:pattern value="((https?)|(ftp)):\/\/?(([0-9a-z_!~*'().&amp;=+$%-]+:)?[0-9a-z_!~*'().&amp;=+$%-]+@)?(([0-9]{1,3}\.){3}[0-9]{1,3}|([0-9a-z_!~*'()-]+\.)*([0-9a-z][0-9a-z-]{0,61})?[0-9a-z]\.[a-z]{2,6})(:[0-9]{1,4})?((\/?)|(\/[0-9a-z_!~*'().;?:@&amp;=+$,%#-]+)+)"/> 
			 -->
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="T_tags">
		<xs:sequence>
			<xs:element name="tag" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_categories">
		<xs:sequence>
			<xs:element name="category" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="mrss" type="T_mrss" />
	<xs:element name="channel" type="T_channel" />
	<xs:element name="item" type="T_item" />
	
	<xs:element name="media" type="T_media" />
	<xs:element name="mix" type="T_mix" />
	<xs:element name="playlist" type="T_playlist" />
	<xs:element name="data" type="T_data" />
	<xs:element name="liveStream" type="T_liveStream" />
	<xs:element name="document" type="T_document" />
	
	<xs:element name="playlists" type="T_playlists" />
	
	<xs:element name="content" type="T_content" />
	<xs:element name="thumbnail" type="T_thumbnail" />
	
	<xs:element name="bitrate" type="T_bitrate" />
	<xs:element name="bitrates" type="T_bitrates" />
	
	<xs:attribute name="url" type="T_url" />
	
	<xs:element name="localFileContentResource" type="T_localFileContentResource" />
	<xs:element name="urlContentResource" type="T_urlContentResource" />
	<xs:element name="remoteStorageContentResource" type="T_remoteStorageContentResource" />
	<xs:element name="entryContentResource" type="T_entryContentResource" />
	<xs:element name="assetContentResource" type="T_assetContentResource" />
	
	<xs:element name="tags" type="T_tags" />
	<xs:element name="categories" type="T_categories" />
	
	<xs:element name="distribution" type="T_distribution" />
	<xs:element name="customData" type="T_customData" />
</xs:schema>
