plugins/bulk_upload/drop_folder_xml/xml/ingestion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:redefine schemaLocation="../../xml/xml/ingestion.xsd">
	
		<xs:complexType name="T_serverFileContentResource">
			<xs:complexContent>
				<xs:extension base="T_serverFileContentResource">
					<xs:attribute name="dropFolderFileId" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		
	</xs:redefine>	
	

	<xs:element name="dropFolderFileContentResource" substitutionGroup="serverFileContentResource" />
	
</xs:schema>
